## working with the iterators

In [2]:
course = "mertens "            ## str ifadeler iterator oldugu için dolasabiliriz
for i in course:
    print(i)

m
e
r
t
e
n
s

In [14]:
word = "clarusway"
counter =0
for i in word:
    counter += 1
    if counter < len(word):
        i += "-"
    print(i, end="")

c-l-a-r-u-s-w-a-y

In [15]:
user = {
    "name": "Daniel",
    "surname": "smith",
    "age":  35
}
for atribute in user:
    print(atribute)

name
surname
age

In [16]:
user = {
    "name": "Daniel",
    "surname": "smith",
    "age":  35
}
for i in user.values():
    print(i, end=" ")

Daniel smith 35

In [17]:
user = {
    "name": "Daniel",
    "surname": "smith",
    "age":  35
}
for key, value in user.items():
    print(key,":", value)

name : Daniel
surname : smith
age : 35

In [21]:
test = [(1,2), (3,4), (5,6)]
for i, j  in test:
    print(i)

1
3
5

In [22]:
test = [(1,2), (3,4), (5,6)]
for i, j  in test:
    print(i, j)

1 2
3 4
5 6

In [23]:
num = int(input("1 ile  10 arasında bir sayı giriniz:"))
for i in  range(1, 10):
    print(num * i)

1 ile  10 arasında bir sayı giriniz:2
2
4
6
8
10
12
14
16
18

In [25]:
num = int(input("1 ile  10 arasında bir sayı giriniz:"))
for i in  range(1, 10):
    print(f"{num} * {i} = {num*i}")

1 ile  10 arasında bir sayı giriniz:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [33]:
for i in  range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [35]:
text = ["one", "two","three","four","five"]

numbers = [1, 2, 3, 4, 5]

In [39]:
zip(text, numbers)

In [40]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [42]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [43]:
text = ["one", "two","three","four","five"]     # iterator bitene kadar devam eder.
 
numbers = [1, 2, 3, ]

list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3)]

In [49]:
text = ["one", "two","three","four","five"]

numbers = [1, 2, 3, 4, 5]
zipped = zip(text,numbers)

for x, y in zipped:
    print(x,":",y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [50]:
list(zipped)       # generate edilen elemanlar boşalıyor.çalısması için tekrar doldurmak gerekir.

[]

In [51]:
print(*zipped)

In [53]:
zipped = zip(text,numbers)
dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [54]:
set(zipped)

set()

In [59]:
a = ["one", "two","three","four","five"]
b = [1, 2, 3, 4, 5]
c = (True, False)
print(*zip(a, b, c))

('one', 1, True) ('two', 2, False)

In [66]:
odd_number = []
even_number = []
for i in range(1,10):
    if i % 2 == 0:
        even_number.append(i)
    else:
        odd_number.append(i)
print("odd number :",odd_number)
print("even number:",even_number)

odd number : [1, 3, 5, 7, 9]
even number: [2, 4, 6, 8]

In [68]:
example = [11,2,24,61,48,33,3]
evens = 0
odds = 0

for i in example:
    if i %2 == 0:
        evens += 1
    else:
        odds +=1
print("evens count:",evens)
print("odds count:",odds)

evens count: 3
odds count: 4