In [ ]:
import numpy as np

In [ ]:
first_array = np.array(range(0,20), dtype=int).reshape(5,4)
first_array

## array matris yapmayı sağlar.

In [ ]:
first_array +1  ## her hücreye uygular ama değişim olmaz.

In [ ]:
first_array

In [ ]:
type(first_array)

In [ ]:
first_array.ndim     ## how many dimension (kac boyut)

In [ ]:
first_array.shape

In [ ]:
arr = np.array([1,2,3])
arr
arr1 = np.array([23,2,5])
arr1
arr2 = np.array([5,6,9])
arr2

print("arr+ arr1:", arr+arr1)

In [ ]:
print("arr1+arr2:", [i+j for i,j in zip(arr1,arr2)])

In [ ]:
my_list = [3, "three", True, 6.0, (1, 2, 3), {"1": 1, "2": 2}]

for i in range(len(my_list)):
    print(f"data: {my_list[i]}, type: {type(my_list[i])}")

In [ ]:
my_list_array = np.array([1, 2, 3, 4.4, "Mathew", {"1": 1, "iki": 2}])
my_list_array

In [ ]:
my_list_array[[5,0]][0]

In [ ]:
type(my_list_array[5])

In [ ]:
type(my_list_array)

In [ ]:
from array import array

In [ ]:
py_arr = array("i", range(20))
py_arr

In [ ]:
multi_type = np.array(['str', 3, 5.0, ["L", "I", "S", "T"]], dtype=object)
multi_type

In [ ]:
type(multi_type[1])

In [ ]:
type(multi_type[3])

In [ ]:
type(multi_type)

In [ ]:
multi_type.size

In [ ]:
multi_type.itemsize

In [ ]:
multi_type1 = np.array(['str', 3, 5.0,"3", ["L", "I", "S", "T"],["ğ","t","3"]], dtype=object)

In [ ]:
multi_type1.itemsize

In [ ]:
multi_type1.size

In [ ]:
itemsize

In [ ]:
multi_type1.shape

In [ ]:
len(multi_type1)

In [ ]:
my_list = [1,2,3]
my_list

In [ ]:
my_aray = np.array(my_list)
my_aray

In [ ]:
np.array([1,2,3])

In [ ]:
my_list = [[1, 2, 3, 4], [1, 2, 3, 4], [2, 3, 4, 5], [2, 3, 4, 5]]   ## 2d
my_list

In [ ]:
my_aray = np.array(my_list)
my_aray

In [ ]:
my_aray @ my_aray

In [ ]:
my_aray * my_aray

In [ ]:
my_list =[[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]], [[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]]
my_list

In [ ]:
array1 = np.array(my_list)
array1

In [ ]:
array = np.array((1,2,34))
array

In [ ]:
type(array)

In [ ]:
np.array(range(20),dtype=float).reshape(5,4)

In [ ]:
np.array(range(0,32),dtype=int).reshape(8,4)

In [ ]:
np.arange(0,20,dtype=float).reshape(5,4)

In [ ]:
np.arange(0,20,dtype=int).reshape(5,4)

In [ ]:
np.arange(0,20).reshape(5,4)

In [ ]:
np.arange(0,20).reshape(5,4)

In [ ]:
np.array(range(20)).reshape(5,4)

In [ ]:
np.array(range(0,20,2)).reshape(5,2)

In [ ]:
np.arange(10)

In [ ]:
np.arange(10,20)

In [ ]:
np.arange(10,20,2)

In [ ]:
np.arange(10,20,2).reshape(5,1)

In [ ]:
np.arange(10,100,2).reshape(9,5)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
list = []

In [ ]:
for i in range(0,10,2):
    list.append(i)
print(list)
print(list[0])

In [ ]:
my_list1 = []
my_list2 = []

In [ ]:
for i in range(0,33,3):
    if i % 2 == 0:
        my_list1.append(i)
    else:
        my_list2.append(i)
print(my_list1) 
print(my_list2)

In [ ]:
list(range(0,20,3))

In [ ]:
np.arange(0,20,3)

In [ ]:
np.array(range(0,10,2))

In [ ]:
## linspace

In [ ]:
np.linspace(0,5,)

In [ ]:
np.linspace(
    start,
    stop,
    num=50,
    endpoint=True,
    retstep=False,
    dtype=None,
    axis=0,
)

In [ ]:
   --> 0-20 arasında 5 sayınp.linspace(0,20,5)

In [ ]:
np.linspace(0,20,5, endpoint=False)

In [ ]:
np.linspace(0,20,5, endpoint=False, retstep=False)

In [ ]:
np.linspace(0,20,5, endpoint=False, retstep=True)

In [ ]:
np.linspace(0,20,5, endpoint=True, retstep=True)

In [ ]:
np.linspace(0,20,5, endpoint=True, retstep=True, axis=0)

In [ ]:
np.linspace(0,10,51)

In [ ]:
np.linspace(0,10,51,dtype=int)

In [ ]:
np.linspace(0,10,51,dtype="int")

In [ ]:
np.linspace([0,10],[10,20],5)

In [ ]:
np.linspace(
    start,
    stop,
    num=50,
    endpoint=True,
    retstep=False,
    dtype=None,
    axis=0,
)

In [ ]:
np.linspace(0,10,5,axis=0)

In [ ]:
np.linspace([0,10],[10,20],5,axis=1)

In [ ]:
np.linspace([0,10],[15,20],5)

In [ ]:
np.linspace([0,2],[4,8],5)

In [ ]:
np.linspace([0,15],[10,20],5,axis=1)

In [ ]:
np.linspace([0,15],[10,20],5,axis=0)

In [ ]:
zeros(shape, dtype=float, order='C', *, like=None)

In [ ]:
np.zeros(5)

In [ ]:
np.zeros(5,dtype=int,order="C")

In [ ]:
np.zeros((2,2),dtype=str)

In [ ]:
np.zeros((5,3),dtype=bool)

In [ ]:
 np.ones(shape, dtype=None, order='C', *, like=None)

In [ ]:
np.ones((5,3))

In [ ]:
np.ones((5,3),dtype=int)

In [ ]:
np.ones((5,3),dtype=bool)

In [ ]:
np.ones((5,3),dtype=str)

In [ ]:
np.ones((5,3,1),dtype=str)

In [ ]:
np.full(shape, fill_value, dtype=None, order='C', *, like=None)

In [ ]:
np.full((5,5),4)

In [ ]:
np.full((5,5),4,dtype=float)

In [ ]:
np.full((5,5),"hagi")

In [ ]:
np.full((5,5),0,dtype=bool)

In [ ]:
np.full((5,5),1,dtype=bool)

In [ ]:
np.full((5,3,2),4)

In [ ]:
np.full((2,5,4),4)

In [ ]:
np.full((2,3,2),4)

In [ ]:
a = np.full((2,4,3),255)
a[:,:,0] = 10
a

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
a = np.full((2,4,3),255)
a[:,:,0] = 255
a[:, :, 1] = 0
a[:, :, 2] = 0

a

In [ ]:
a = np.full((2,4,3),255)
a[:,:,0] = 255
a[:, :, 1] = 0
a[:, :, 2] = 0

a

In [ ]:
plt.imshow(a)

In [ ]:
a = np.full((2,4,3),255)
a[:,:,0] = 0
a[:, :, 1] = 255
a[:, :, 2] = 0

a

In [ ]:
plt.imshow(a)

In [ ]:
a = np.full((2,4,3),255)
a[:,:,0] = 0
a[:, :, 1] = 0
a[:, :, 2] = 255

a

In [ ]:
plt.imshow(a)

In [ ]:
np.arange(3) + 5

In [ ]:
np.random.random_integers

In [ ]:
random_integers(low, high=None, size=None)

In [ ]:
random_integers(20, high=50)

In [ ]:
mat = np.array(range(16)).reshape(4,4)
mat

In [ ]:
mat[[1,0],[3,2]]

In [ ]:
list=[-4,-3,-2,-1,0,1,2,3,4]
arr = np.array(list).reshape(3,3)
arr

In [ ]:
np.mean(arr)

In [ ]:
np.std(arr)

In [ ]:
arr = np.zeros((3,3))
arr

In [ ]:
np.std(arr)

In [ ]:
np.mean(arr)

In [65]:
list = [1,2,3,4,5,6]
np.array(list).reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [66]:
list =[-1,-1,-1,-1,0,1,1,1,1]

arr = np.array(list)
arr

array([-1, -1, -1, -1,  0,  1,  1,  1,  1])

In [67]:
np.mean(arr)

0.0

In [68]:
np.std(arr)

0.9428090415820634

In [ ]:
np.identity(n, dtype=None, *, like=None)

In [69]:
np.identity(4,dtype=int)

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [70]:
x = np.arange(10)

In [71]:
x[::2]

array([0, 2, 4, 6, 8])

In [72]:
x[1::2]

array([1, 3, 5, 7, 9])

In [ ]:
import random
random.seed(10)
print(random.random())

In [ ]:
x1 = np.array([4, 3, 4, 4, 8, 4])

In [ ]:
x1[0]

In [ ]:
x1[4]

In [ ]:
x1[-1]

In [ ]:
x1[-2]

In [ ]:
x1[0,1]

In [ ]:
import numpy as np

In [ ]:
a = np.arange(20).reshape(5,4)
a

In [ ]:
a[0,1]

In [ ]:
a[2,2]

In [ ]:
a[0,0] = 5
a

In [ ]:
x = np.arange(10)
x

In [ ]:
x[0:4]

In [ ]:
x[4::]

In [ ]:
x[4:6]

In [ ]:
x[1::2]

In [ ]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
z = [21,21,21]
x,y,z

In [ ]:
np.array(z)

In [ ]:
concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")

In [117]:
np.concatenate([x,y,(np.array(z))])

array([ 1,  2,  3,  3,  2,  1, 21, 21, 21])

In [125]:
x = np.array([[1, 2, 3], [4, 5, 6]])
y = np.array([[7, 8, 9], [10, 11, 12], [13, 14, 15]])
print(x.shape)
print(y.shape)

x, y

(2, 3)
(3, 3)

(array([[1, 2, 3],
        [4, 5, 6]]),
 array([[ 7,  8,  9],
        [10, 11, 12],
        [13, 14, 15]]))

In [126]:
np.concatenate([x,y])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [131]:
np.concatenate([x,y], axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [128]:
grid = np.array([[1,2,3],[4,5,6]])
y = np.array([[7, 8, 9], [10, 11, 12], [13, 14, 15]])
print(grid.shape)
print(y.shape)
x,y

(2, 3)
(3, 3)

(array([[1, 2, 3],
        [4, 5, 6]]),
 array([[ 7,  8,  9],
        [10, 11, 12],
        [13, 14, 15]]))

In [129]:
np.concatenate([grid,y])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [132]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
z = [21,21,21]
x,y,z

(array([1, 2, 3]), array([3, 2, 1]), [21, 21, 21])

In [133]:
np.concatenate([x,y],axis=0)

array([1, 2, 3, 3, 2, 1])

In [ ]:

randint(low, high=None, size=None, dtype=int)

In [138]:
x = np.random.randint(10,size=(2,5))
y = np.random.randint(10,size=(2,5))
x,y

(array([[1, 9, 6, 4, 3],
        [1, 9, 2, 2, 4]]),
 array([[9, 1, 8, 1, 7],
        [4, 1, 2, 3, 2]]))

In [142]:
np.concatenate([x,y],axis=0)

array([[1, 9, 6, 4, 3],
       [1, 9, 2, 2, 4],
       [9, 1, 8, 1, 7],
       [4, 1, 2, 3, 2]])

In [141]:
np.concatenate([x,y],axis=1)

array([[1, 9, 6, 4, 3, 9, 1, 8, 1, 7],
       [1, 9, 2, 2, 4, 4, 1, 2, 3, 2]])

In [143]:
x = np.array([3,4,5])
grid = np.array([[1,2,3],[17,18,19]])

In [ ]:
np.vstack(tup)

In [145]:
np.vstack((x,grid))

array([[ 3,  4,  5],
       [ 1,  2,  3],
       [17, 18, 19]])

In [148]:
x = np.array([3,4,5])
z = np.array([[9],[9]])

In [150]:
np.hstack((grid,z))

array([[ 1,  2,  3,  9],
       [17, 18, 19,  9]])

In [153]:
np.hstack((grid,z))

array([[ 1,  2,  3,  9],
       [17, 18, 19,  9]])

In [155]:
import pandas as pd

In [156]:
data = pd.DataFrame({'Country': ['Russia','Colombia','Chile','Equador','Nigeria'],
                    'Rank':[121,40,100,130,11]})
data

    Country  Rank
0    Russia   121
1  Colombia    40
2     Chile   100
3   Equador   130
4   Nigeria    11

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5 non-null      object
 1   Rank     5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [159]:
data.describe()

             Rank
count    5.000000
mean    80.400000
std     52.300096
min     11.000000
25%     40.000000
50%    100.000000
75%    121.000000
max    130.000000

In [160]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [161]:
data

    Country  Rank
0    Russia   121
1  Colombia    40
2     Chile   100
3   Equador   130
4   Nigeria    11

In [173]:
data.index = [4,1,2,0,3]
data

    Country  Rank
4    Russia   121
1  Colombia    40
2     Chile   100
0   Equador   130
3   Nigeria    11

In [176]:
data.index = [2,1,0,3,4]
data

    Country  Rank
2    Russia   121
1  Colombia    40
0     Chile   100
3   Equador   130
4   Nigeria    11

In [174]:
data.sort_index(ascending =True)

    Country  Rank
0   Equador   130
1  Colombia    40
2     Chile   100
3   Nigeria    11
4    Russia   121

In [61]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
df['DataFrame Column'] = df['DataFrame Column'].fillna(0)

In [63]:
data.replace([-999,-999], "nan")

0       1.0
1       nan
2       2.0
3       nan
4   -1000.0
5       3.0
dtype: object

In [59]:
data["-999"]

SyntaxError: invalid syntax (3864619067.py, line 1)

In [199]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [200]:
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [204]:
data.index = ["Sanf","Colorado","New Yor"]
data

          one  two  three  four
Sanf        0    1      2     3
Colorado    4    5      6     7
New Yor     8    9     10    11

In [205]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.514476 -0.680210
1    a  two -0.819075  0.633846
2    b  one -0.975354  0.930538
3    b  two  0.453760  0.257542
4    a  one  0.707349 -1.221238

In [214]:
df["key1"] = df["data1"]
df["key1"].mean()

-0.22955938470729462

In [217]:
import datetime

In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.615719  0.087880  0.266287 -1.927410
2013-01-02  0.062876  0.386220 -0.037927 -1.385566
2013-01-03 -0.768107 -1.005992 -0.049107 -0.231089
2013-01-04 -0.255085 -0.074333 -0.649654 -0.161239
2013-01-05 -0.483485 -1.744215  0.476597  0.522631
2013-01-06 -0.666175  0.910708  1.264163 -0.134065

In [6]:
df.head(3)

                   A         B         C         D
2013-01-01  0.615719  0.087880  0.266287 -1.927410
2013-01-02  0.062876  0.386220 -0.037927 -1.385566
2013-01-03 -0.768107 -1.005992 -0.049107 -0.231089

In [8]:
df.iloc[:4]

                   A         B         C         D
2013-01-01  0.615719  0.087880  0.266287 -1.927410
2013-01-02  0.062876  0.386220 -0.037927 -1.385566
2013-01-03 -0.768107 -1.005992 -0.049107 -0.231089
2013-01-04 -0.255085 -0.074333 -0.649654 -0.161239

In [9]:
df[:4]

                   A         B         C         D
2013-01-01  0.615719  0.087880  0.266287 -1.927410
2013-01-02  0.062876  0.386220 -0.037927 -1.385566
2013-01-03 -0.768107 -1.005992 -0.049107 -0.231089
2013-01-04 -0.255085 -0.074333 -0.649654 -0.161239

In [19]:
df[::][["A", "B"]]

                   A         B
2013-01-01  0.615719  0.087880
2013-01-02  0.062876  0.386220
2013-01-03 -0.768107 -1.005992
2013-01-04 -0.255085 -0.074333
2013-01-05 -0.483485 -1.744215
2013-01-06 -0.666175  0.910708

In [21]:
df[1:3][["A", "B"]]

                   A         B
2013-01-02  0.062876  0.386220
2013-01-03 -0.768107 -1.005992

In [38]:
df[3:4]

                   A         B         C         D
2013-01-04 -0.255085 -0.074333 -0.649654 -0.161239

In [42]:
df[2:3][5:6]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [44]:
df[4:5]

                   A         B         C         D
2013-01-05 -0.483485 -1.744215  0.476597  0.522631

In [58]:
df[1:][::4][["A","C"]]

                   A         C
2013-01-02  0.062876 -0.037927
2013-01-06 -0.666175  1.264163

In [ ]:
df[1:][::4]