In [1]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv("sales_082020.csv")
df1 = pd.read_csv("currency_rates_082020_EUR.csv")

In [10]:
sales.shape

(237671, 10)

In [11]:
sales

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [135]:
df1

    currency       date    rate
0        EUR   8/1/2020  1.0000
1        EUR   8/2/2020  1.0000
2        EUR   8/3/2020  1.0000
3        EUR   8/4/2020  1.0000
4        EUR   8/5/2020  1.0000
..       ...        ...     ...
215      BRL   8/6/2020  6.3324
216      BRL   8/7/2020  6.4111
217      BRL   8/8/2020  6.4111
218      BRL   8/9/2020  6.4111
219      BRL  8/10/2020  6.4351

[220 rows x 3 columns]

In [123]:
(df.seller_country == "GB").sum()

139203

In [124]:
(df.buyer_country == "GB").sum()

134704

In [133]:
df.price.sum()

6739727.730000001

In [132]:
df[(df.seller_country == "GB") & (df.buyer_country == "GB")]["price"].sum()

3184495.5800000005

In [ ]:
df[(df.buyer_country == "AU") & (df.category == "Shoes")]

In [118]:
df.groupby("brand")["price"].mean().idxmax()

'Goyard'

In [108]:
((df.brand.value_counts() >= 35) & (df.brand.value_counts() <= 55)).sum()

81

In [96]:
df[(df.price >= 35) &  (df.price <= 55)]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
14,1g3678i0mb,GB,9p2ansc9,GB,xjm3k96m1t08,Outerwear - Mens,Levi's,EUR,36.08,2020-08-07
87,mebpkmv8wu,GB,cayk63ux,GB,gcqxtjyj5vmb,Accessories,Louis Vuitton,EUR,36.89,2020-08-03
88,dhlgt7vxuz,GB,cayk63ux,GB,5px9ldgnrgrx,Accessories,NaN,EUR,50.89,2020-08-03
100,kfodrz4mon,GB,5a5i67ye,GB,zkk1mev638ee,Dresses,NaN,EUR,52.85,2020-08-09
120,4ifsz8t7ro,GB,x39v38nj,GB,lo1b8mao9pve,Lingerie,NaN,EUR,52.51,2020-08-06
...,...,...,...,...,...,...,...,...,...,...
237624,o0pn7jisi0,GB,u14l0n35,GB,5ej4zmigo5k8,Tops - Mens,Stüssy,EUR,37.19,2020-08-04
237640,grik173oqv,AU,ne06kqik,AU,0di422kgfkd7,Dresses,NaN,EUR,40.61,2020-08-05
237641,6vkxwrdl8f,US,kcwtccl3,GB,jsrq5royln2r,Bottoms - Womens,Levi's,EUR,54.58,2020-08-09
237647,q3p142k8mv,GB,kkyg24rq,GB,hb5j3fokgapk,Other,NaN,EUR,38.29,2020-08-09
237648,05ll13z5pg,US,ahrll085,US,ixq14b4r77n6,Dresses,NaN,EUR,54.31,2020-08-06

In [80]:
[df.price >= 35]

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 237666    False
 237667     True
 237668     True
 237669    False
 237670     True
 Name: price, Length: 237671, dtype: bool]

In [82]:
[df.price <= 55]

[0          True
 1          True
 2          True
 3          True
 4          True
           ...
 237666     True
 237667    False
 237668    False
 237669     True
 237670    False
 Name: price, Length: 237671, dtype: bool]

In [56]:
df[["category", "brand"]]

                category             brand
0                Dresses               NaN
1              Outerwear  Adidas Originals
2            Tops - Mens               NaN
3            Tops - Mens          Berghaus
4       Bottoms - Womens               NaN
...                  ...               ...
237666  Bottoms - Womens               NaN
237667              Home               NaN
237668             Other               NaN
237669             Shoes               NaN
237670             Other               NaN

[237671 rows x 2 columns]

In [66]:
df[df.category == "Jewelry"]

Empty DataFrame
Columns: [buyer_id, buyer_country, seller_id, seller_country, product_code, category, brand, currency, price, date]
Index: []

In [12]:
len(sales.buyer_id)

237671

In [40]:
df[df["currency"] == "EUR"][["price"]].sum()

price    6739727.73
dtype: float64

In [47]:
df.groupby(df["currency"] == "EUR")[["price"]].apply(lambda x: x.sum())

               price
currency
True      6739727.73

In [45]:
df[["brand"]].value_counts()

brand
Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Araks                    1
Elegant Moments          1
Top Stitch               1
ADYN                     1
Filson                   1
Length: 1134, dtype: int64